body{
	margin:0;
	text-align:center;
}
h1{
	margin:0 auto 0 auto;
	width:10%;
	font-family: 'Tangerine', cursive;
	font-size:40px;
	font:bold;

}
h2{
	margin:20px;
	padding-top: 40px;
}
p{
	font-family: 'Pacifico', cursive;
	font-size:10px;
}
.top{
	background-color:#E4F9F5;
	padding-top:100px;
	position:relative;
}
.cloud2{
	position:absolute;
	left:300px;
	bottom:300px;
}
.cloud1{
	position:absolute;
	right:300px;
	top:50px;
}
.profile{
	margin-top:40px;
}
.skill-icon{
	height:103px;
	width:102px;
}
.skills{
	background-color:#E4F9F5;
}
hr{
	margin: 0;
	border: none;
}
.contact-me{
	padding-bottom:10px;
}
